@use "abstracts" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @include media-query(tab--landscape) {
    font-size: 56.25%;
  }

  @include media-query(tab--portrait-768) {
    font-size: 50%;
  }

  @include media-query(phone) {
    font-size: 43.75%;
  }

  @include media-query(phone--375) {
    font-size: 37.5%;
  }
}

:root {
  --clr-grey: hsl(0, 0%, 59%);
  --clr-grey--dark: hsl(0, 0%, 17%);
}

body {
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}
