@use "base" as *;
@use "abstracts" as *;

.tracker {
  width: 100%;

  &__header {
    background-image: url(../../images/pattern-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    @include flex(column, initial, center, 0);
    padding: 2.4rem;
    position: relative;
    height: 35vh;

    // @include media-query(tab--portrait) {
    //   padding: 4.8rem 2.4rem;
    // }
  }
  &__primary-heading {
    font-size: 3.2rem;
    color: white;
    font-weight: 500;
    letter-spacing: 1.2px;
    margin-bottom: 3.2rem;
  }

  &__search {
    display: flex;
    height: 4.8rem;

    &--input {
      border: none;
      outline: none;
      color: var(--clr-grey--dark);
      font-weight: 500;
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;
      padding: 2.4rem;
      width: 48rem;
      font-size: 1.6rem;

      @include media-query(phone) {
        min-width: calc(60rem - 4.8rem);
        font-size: 2rem;
        padding: 3.2rem;
      }

      &::placeholder {
        color: var(--clr-grey);
        font-size: 1.6rem;
        letter-spacing: 1px;

        @include media-query(phone) {
          font-size: 2rem;
        }
      }

      &:hover {
        cursor: pointer;
      }
    }

    &--button {
      background-color: black;
      border: none;
      width: 4.8rem;
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
      transition: background-color 0.2s ease-in;

      @include media-query(phone) {
        padding: 3.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &:hover {
        cursor: pointer;
        background-color: var(--clr-grey--dark);
      }
    }

    &--icon {
      width: 1.4rem;
      height: 1.4rem;

      @include media-query(phone) {
        width: 1.8rem;
        height: 1.8rem;
      }
    }
  }

  &__data-container {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    column-gap: 3.2rem;
    max-width: 110rem;
    background-color: white;
    border-radius: 10px;
    padding: 3.2rem 2.4rem;

    position: absolute;
    bottom: -7.5rem;
    z-index: 999;

    @include media-query(tab--landscape) {
      max-width: 90rem;
      column-gap: 1.8rem;
    }

    @include media-query(tab--portrait) {
      min-width: 75rem;
      grid-auto-flow: row;
      grid-auto-rows: 1fr;
      text-align: center;
      row-gap: 3.2rem;
      bottom: -180px;
      z-index: 1000;
    }

    @include media-query(phone) {
      min-width: 60rem;
      bottom: -150px;
    }
  }

  &__data {
    position: relative;
    padding-right: 4.8rem;

    @include media-query(tab--landscape) {
      padding-right: 2.4rem;
    }

    @include media-query(tab--portrait) {
      padding-right: 0;
    }

    &:not(:last-child)::after {
      content: " ";
      position: absolute;
      top: 10px;
      right: 0;
      width: 1px;
      height: 6.4rem;
      background-color: var(--clr-grey);

      @include media-query(tab--portrait) {
        display: none;
      }
    }

    &--heading {
      color: var(--clr-grey);
      font-size: 1.2rem;
      font-weight: 700;
      letter-spacing: 1.5px;
      margin-bottom: 1.2rem;
    }

    &--return {
      font-size: 2.4rem;
      font-weight: 500;
      color: var(--clr-grey--dark);

      @include media-query(tab--landscape) {
        font-size: 2.2rem;
      }
    }
  }

  &__map {
    height: 65vh;
    background-color: var(--clr-grey--dark);
  }
}
